In [1]:
import pandas as pd

In [5]:
balance = pd.read_csv("Balance.csv")
balance

,Unnamed: 0,Savings,Personal,Entertainment,Food,Rent,Emergency,Subscriptions,Business,Account
0,0,-55.2,-27.6,50,175,450,500,37.5,-165.6,503.6

In [ ]:
deduct = input("The name of category to subtract form")
amount = input("What is the amount?")

In [ ]:
amount = int(amount)
total = balance[deduct] - amount

In [ ]:
if total < 0:
    balance[deduct] = 0

In [ ]:
while total < 0:
    name = input("You have negative funds for necessities. Which other category would you like to withdraw from?")
    cost = total
    total = balance[name] + total

In [ ]:
balance[name] = balance[name - cost]

In [ ]:
balances.to_csv("Balance.csv")