In [2]:
import pandas as pd

In [11]:
income = input("What is your income for this pay period?")
other = input("What other money did you recieve?")
save = input("Is there anything you want to save for? (Y/N)")
date = input("What is the date? MM/DD/YYYY")

What is your income for this pay period?200
What other money did you recieve?0
Is there anything you want to save for? (Y/N)N
What is the date? MM/DD/YYYY08/28/2022

In [6]:
budget = pd.read_csv("budget.csv")
budget

,Account Balance,Rent per period,Gas,Food per period,Subscriptions per week,Entertainment per period,Savings percent,Emergency Fund,Business Invest,Retirement Allocation,Stocks invest,Personal Spending
0,700,450.0,40,175.0,37.0,50,0.1,500,0.3,0.05,0.5,0.05

In [13]:
income = int(income)
other = int(other)

In [10]:
budget["Account Balance"][0]

700

In [15]:
total = income + other - (budget["Rent per period"][0] + budget["Gas"][0] + budget["Food per period"][0] + budget["Subscriptions per week"][0] + budget["Entertainment per period"][0])

total

-552.0

In [ ]:
if total < 0:
    print("You have insufficient funds to cover these costs. Please go over your budget again.")

In [17]:
invest = total * budget["Stocks invest"][0]
retire = total * budget["Retirement Allocation"][0]
personal = total * budget["Personal Spending"][0]
bus = total * budget["Business Invest"][0]
save = total * budget["Savings percent"][0]

In [18]:
save

-55.2

In [19]:
account = income + other - invest - retire

In [22]:
balances = pd.DataFrame({
    "Savings" : [save],
    "Personal" : [personal],
    "Entertainment" : [50],
    "Food": [175],
    "Rent": [450],
    "Emergency": [500],
    "Subscriptions": [37.5],
    "Business": [bus],
    "Account": [account]
    
})

In [23]:
balances.to_csv("Balance.csv")